.synaptic-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  pointer-events: none;
  background-color: #140324;
  overflow: hidden;
}

.synaptic-container canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.view-wrapper {
  background: transparent !important;
}